.navlog-wrapper {
    width: 75px;
    min-height: 100vh;
    border-radius: 0px ;
    position: fixed;
    top: 75px;
    left: 0px;
    z-index: 50;
    animation-name: navbar;
    animation-duration:4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    background-color: #F8F9FA;
    z-index: 0 !important;
    /* border-right: solid 1px rgb(179, 179, 179) */
}

.active {
    background-color: #729ACB !important;
    border-radius: 10px !important;
    color: white !important;
}

.nav-item:hover {
    background-color: #729ACB;
    border-radius: 10px;
    color:white;
}
